---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero';
import SportSelector from '../components/SportSelector';
import PadelSpotlight from '../components/PadelSpotlight';
import FasilitasUmum from '../components/FasilitasUmum';
import Pricing from '../components/Pricing.astro';
import Membership from '../components/Membership';
import TournamentEvents from '../components/TournamentEvents';
import CorporatePackage from '../components/CorporatePackage.astro';
import Testimonial from '../components/Testimonial';
import FAQ from '../components/FAQ';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero client:load />
    <SportSelector client:visible />
    <PadelSpotlight client:visible />
    <FasilitasUmum client:visible />
    <Pricing />
    <Membership client:visible />
    <TournamentEvents client:visible />
    <CorporatePackage />
    <Testimonial client:visible />
    <FAQ client:visible />
  </main>
  <Footer />
</Layout>
